# === DATABASE ===
MOODLE_DB_HOST=
MOODLE_DB_PORT=
MOODLE_DB_ROOT_PASSWORD=
MOODLE_DB_NAME=
MOODLE_DB_USER=
MOODLE_DB_PASSWORD=

# === MOODLE CONTAINER CONFIG ===
XDEBUG_PORT=
PHP_SERVER_NAME=

# === MOODLE CONFIG ===
MOODLE_BRANCH=#MOODLE_501_STABLE
MOODLE_HTTP_PORT=
MOODLE_ADMIN_USER=
MOODLE_ADMIN_PASSWORD=
